<p>test works!</p>

<!-- Begin: Status filter buttons -->
<!--<mat-button-toggle-group name="status">-->

<!--  <mat-button-toggle-->
<!--    (click)="status = 'view1'"-->
<!--    #view1-->
<!--    id="view1"-->
<!--    class="status-filter-btn active"-->
<!--    mat-raised-button color="primary">-->
<!--    View1-->
<!--  </mat-button-toggle>-->

<!--</mat-button-toggle-group>-->
<!-- End: Status filter buttons -->

<button mat-icon-button [matMenuTriggerFor]="actionsMenu">
  <mat-icon class="actions-btn blue-icon">more_vert</mat-icon>
</button>
<mat-menu #actionsMenu="matMenu">
  <button mat-menu-item>
    <span>Details</span>
  </button>
  <button mat-menu-item>
    <span>Other</span>
  </button>
</mat-menu>

<!-- End: Status filter buttons -->
