<p>test works!</p>

<!-- Begin: Status filter buttons -->
<!--<mat-button-toggle-group name="status">-->

<!--  <mat-button-toggle-->
<!--    (click)="status = 'approved'"-->
<!--    #approved-->
<!--    id="approved"-->
<!--    class="status-filter-btn active"-->
<!--    mat-raised-button color="primary">-->
<!--    Approved-->
<!--  </mat-button-toggle>-->

<!--  <mat-button-toggle-->
<!--    mat-flat-button-->
<!--    (click)="status = 'enroute'"-->
<!--    id="approved"-->
<!--    class="status-filter-btn">-->
<!--    Enroute-->
<!--  </mat-button-toggle>-->

<!--  <mat-button-toggle-->
<!--    (click)="status = 'arrived'"-->
<!--    id="arrived"-->
<!--    class="status-filter-btn">-->
<!--    Arrived-->
<!--  </mat-button-toggle>-->

<!--  <mat-button-toggle-->
<!--    (click)="status = 'cancelled'"-->
<!--    id="cancelled"-->
<!--    class="status-filter-btn">-->
<!--    Cancelled-->
<!--  </mat-button-toggle>-->

<!--</mat-button-toggle-group>-->
<!-- End: Status filter buttons -->

<button mat-icon-button [matMenuTriggerFor]="actionsMenu">
  <mat-icon class="actions-btn blue-icon">more_vert</mat-icon>
</button>
<mat-menu #actionsMenu="matMenu">
  <button mat-menu-item>
    <span>Edit</span>
  </button>
  <button mat-menu-item>
    <span>Orders</span>
  </button>
  <button mat-menu-item>
    <span>Approved</span>
  </button>
</mat-menu>

<!-- End: Status filter buttons -->
